form{
    border: solid black;
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
    width: 600px;
    margin-left: 500px;
}
.vk1{
    border: solid hotpink;
    background-color: hotpink;
    font-family: 'Courier New', Courier, monospace;
    width: 600px;
    margin-left: 500px;
}
.vka{
    border: solid yellowgreen;
    background-color: yellowgreen;
    font-family: 'Courier New', Courier, monospace;
    width: 600px;
    margin-left: 500px;
} 
.vk3{
    border: solid skyblue;
    background-color: skyblue;
    font-family: 'Courier New', Courier, monospace;
    width: 600px;
    margin-left: 500px;
}
.vk4{
    border: solid blue;
    background-color: blue;
    font-family: 'Courier New', Courier, monospace;
    width: 600px;
    margin-left: 500px;
}
button{
    width: 600px;
    margin-left: 500px;
    height: 30px;
    background-color: blueviolet;
}