.well{
    position: absolute;
    right:170px;
    top:250px;
}
.img1{
    position: absolute;
    top:250px;
    left:900px;
}
input[type="text"]{
    width: 800px;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.auther{
    width: 400px;
    margin-left: 100px;
}
div{
    margin-left: 100px;
}
.don{
    position: absolute;
    right:200px;
    top:230px;
}
.para{
    position: absolute;
    right:500px;
    top:630px;

}
.acer{
    position: absolute;
    right:30px;
    top:630px;
}
.another{
    margin-right: 10px;
    margin-top: -380px;
    
}
body{

}
hr{
    size: 90px;
}
.text{
    margin-left: 6px;
    width: 400px;

}
.font{
    
    font-family: 'Sedgwick Ave Display', cursive;
    
}
.fish{
    width: 800px;
}
.task{
    margin-left: 100px;
}
.new{
    width: 390px;
    margin-left: 5px;
}
.well1{
    margin-left: 500px;
    margin-bottom: 900px;
    
}